---
const { name, img, tooltip } = Astro.props;
---

<span class="tooltip-container">
  <span class="tooltip-box">
    <img src={img} alt={`${name} logo`} aria-label={name} />
    <span>{tooltip}</span>
  </span>

  <span>{name}</span>
</span>

<style lang="scss">
  .tooltip-container {
    position: relative;
    display: inline-block;

    & > span:last-child {
      color: var(--dark);
      font-weight: 700;
      text-decoration: underline;
      cursor: help;
    }

    & .tooltip-box {
      display: grid;
      grid-template-columns: 1fr 4fr;
      box-sizing: initial;
      visibility: hidden;
      position: absolute;
      width: 400px;
      padding: 10px;
      border-radius: 10px;
      background-color: var(--dark);
      z-index: 2;
      top: 20px;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      transform: translateY(-100px);
      text-align: left;
      border: 2px solid var(--accent-secondary);
      pointer-events: none;

      // tooltip img
      & img {
        margin: auto;
        width: 40px;
        aspect-ratio: 1;
        color: var(--white); // alt text color
      }

      // tooltip text
      & span {
        color: var(--white);
        font-size: 14px;
        font-weight: 200;
      }
    }

    &:hover .tooltip-box {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }

    @media (max-width: 700px) {
      .tooltip-box {
        display: none;
      }
    }
  }
</style>
