---
import Footer from "../components/navigation/Footer.astro";
import Navbar from "../components/navigation/Navbar.astro";
import "../styles/global.scss";
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import GA from "../components/analytics/GA.astro";
import GTMHead from "../components/analytics/GTMHead.astro";
import GTMBody from "../components/analytics/GTMBody.astro";
import PlausibleAnalytics from "../components/analytics/PlausibleAnalytics.astro";

const { title, description, socialImage } = Astro.props;
const image = socialImage ?? "/assets/img/profile.png";
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
         <PlausibleAnalytics/>
    <GTMHead />
    <GA />
    <HeadHrefLangs />

    <!-- Global Metadata -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Kristian Nielsen" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="title" content={title} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />
  </head>
  <body>
    <GTMBody />
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
