---
import Footer from "../components/navigation/Footer.astro";
import Navbar from "../components/navigation/Navbar.astro";
import "../styles/global.scss";
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";

const { title, description, socialImage } = Astro.props;
const image = socialImage ?? "/assets/img/profile.png";
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <HeadHrefLangs />

    <!-- Global Metadata -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Kristian Nielsen" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="canonical" href={Astro.url} />
    <link rel="sitemap" href="/sitemap-0.xml" />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="title" content={title} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- Baidu -->
    <meta name="baidu-site-verification" content="codeva-zLVQmFq6Xe" />
  </head>
  <body>
    <Navbar />
    <main id="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
